.c-mycollection {
  justify-content: center;
  text-align: center;

  &__vinyl {
    border: 1px solid white;

    &__img {
      max-width: 50%;
    }

    &__info {
      font-size: 2rem;
    }
  }
}


